body {
   background-image: url('/src/images/14710.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p, h2 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
   box-shadow: 0px 0px 5px 5px rgb(164, 218, 220);
}

.hidden {
 visibility: hidden;
}

.breed-select {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.form {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border-color: #ff9fa3;
}


.back-color {
    width: 100%;
    background-color:#A4DADC;
    border-radius: 20px;
    border: 3px solid #A4DADC;
    box-shadow: 0px 0px 5px 5px rgb(164, 218, 220);
}

.title {
    display: flex;
    color: rgb(37, 36, 36);
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    color: #5E5B55;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
}
.span {
   /* margin-top: 10px;*/
    color: rgb(37, 36, 36);
    font-size: 20px;

}
.cat-info {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    max-width: 900px;
    padding: 50px 50px;
    margin: 20px auto 0 auto;
}
